<div class="timer-list">
  <div class="list-header">
    <!-- Timer List Sort Options -->
    <div class="sort-options">
      <h1 class="sort-title" aria-label="Sort Title">Sort :</h1>
      <button
        class="sort-button"
        [class]="{ active: sort === 'asc' }"
        (click)="onSortChange(TimerSortDirection.asc)"
      >
        ASC
      </button>
      <button
        class="sort-button"
        [class]="{ active: sort === 'desc' }"
        (click)="onSortChange(TimerSortDirection.desc)"
      >
        DESC
      </button>
    </div>

    <!-- Timer Add Button -->
    <button
      class="action-button"
      mat-icon-button
      aria-label="Add Button"
      (click)="onAddTimerClick()"
    >
      <img class="icon" src="/assets/icons/plus-solid.svg" />
    </button>
  </div>
  <div class="timer-rows">
    <ng-container *ngIf="timers?.length; else noTimerView">
      <ng-template
        ngFor
        let-timer
        [ngForOf]="timers"
        [ngForTrackBy]="trackByFn"
      >
        <!-- Timer Row -->
        <timer-row
          [timer]="timer"
          (pauseClick)="onPauseClick($event)"
          (startClick)="onStartClick($event)"
          (deleteClick)="onDeleteClick($event)"
        ></timer-row>
      </ng-template>
    </ng-container>

    <ng-template #noTimerView>
      <timer-empty-row *ngIf="timers"></timer-empty-row>
    </ng-template>
  </div>
</div>
