.timer-display {
  display: flex;

  .minutes,
  .seconds {
    background: rgb(255, 208, 251);
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-family: 'DIN Condensed';
      font-size: 28px;
    }
  }

  .separator {
    font-family: 'DIN Condensed';
    font-size: 28px;
    padding-top: 3px;
  }
}