.timer-app {
  width: 100%;
  min-height: 100%;
  background: #FFD0FB;
  display: flex;
  justify-content: center;
  timer-list {
    width: 50vw;
    width: 50vw;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}